<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/CSS/index.css}">
<title>Insert title here</title>
</head>
<body >


<h1 align="center">Programmer Info</h1>
<hr/>
<div text-align="center">
<div  >
	
<div class="container">
<div class="card text-white bg-dark mb-3">
  
  <div class="card-body">
  <div class="row">
  	 <div class="col-md-6"><h4>Programmers Id:</h4></div>
  	
  	 <div class="col-md-6"><h4 class="card-text" th:text="${engineers.pId}"></h4></div>
  	
  	</div>
  	<div class="row">
  	
  	<div class="col-md-6">
  	<h4>Programmers Name:</h4>
  	</div>
  	
  	 <div class="col-md-6">
  	 <h4 class="card-text" th:text="${engineers.pName}"></h4>
  	 </div>
  	
    
    </div>
    <div class="row">
    
    <div class="col-md-6">
  	<h4>Programmers Language:</h2>
  	</div>
  	
  	 <div class="col-md-6">
  	 <h4 class="card-text" th:text="${engineers.pLang}"></h4>
  	 </div>
  	
    </div>
    
  </div>
 
</div>
</div>
	
	<!--  
	<form action="directHome" method="get">
    <button type="submit" class="btn btn-primary">Home</button>
    </form> -->
    
	</div>	
<!--<h3 th:text="${programmer.pId}"></h3>
<h3 th:text="${programmer.pName}"></h3>
<h3 th:text="${programmer.pLang}"></h3>
 <h3 th:text="${programmer}"></h3> -->

</div>



<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>